* {
  box-sizing: border-box;
  outline: 0;
}

.container {
  width: 18.75rem;
  height: 21.25rem;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #3385ff;
  border-radius: 10px;
}

.buttons {
  margin-top: 12.5rem;
}

.display {
  width: 97%;
  height: 1.875rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.btn-eq,
.btn-del,
.btn-num,
.btn-erase {
  width: 60px;
  height: 30px;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}

.btn-eq:hover,
.btn-del:hover,
.btn-erase:hover,
.btn-num:hover {
  cursor: pointer;
  background-color: #bfbfbf;
}
